# config/env.example
# Blockchain Configuration
BLOCKCHAIN_NODE_URL=http://localhost:8080
BLOCKCHAIN_GRPC_URL=localhost:50051

# API Gateway Configuration
API_GATEWAY_URL=http://localhost:3000

# Flutter Configuration
FLUTTER_WEB_PORT=5000
FIREBASE_CONFIG={"apiKey":"AIzaSyB8W1785yBnfMAJZtQcJZ1GnPE97zAmL_Y","authDomain":"cercaend-vk8icg.firebaseapp.com","databaseURL":"https://cercaend-vk8icg-default-rtdb.firebaseio.com","projectId":"cercaend-vk8icg","storageBucket":"cercaend-vk8icg.appspot.com","messagingSenderId":"618504134340","appId":"1:618504134340:web:d3e2ff5b7908d248107391"}

# Database Configuration
DATABASE_URL=sqlite:///data/blockchain.db
